form.register {
    max-width: 400px;
    margin: 0 auto;
}



input {
    display: block;
    margin-bottom: 7px;
    width: 100%;
    padding: 5px 8px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: white;
   
}

button {
    width: 100%;
    display: block;
    background-color: #444;
    color: white;
    border-radius: 7px;
    padding: 6px;
    

}

h1{
    text-align: center;
}